/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Dosis&display=swap");

* {
  margin: 0;
}

body {
  background-color:  #574D68;
}


/* Navbar styling  */
.headingStyling {
  font-family: "Comfortaa", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  color:#F5F0F6;
  padding:0.5%;
 }

 .headingStyling {
  font-family: "Comfortaa", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  color:#F5F0F6;
  padding:0.5%;
 }

   .headingNameStyling {
  font-family: "Comfortaa", sans-serif;
  letter-spacing: 1px;
  text-align: center;
  color:#F5F0F6;
 } 
 
 .headingCounterStyling{
  font-family: "Comfortaa", sans-serif;
  letter-spacing: 1px;
  text-align: center;
  color:#F5F0F6;
  }

/* French word card */
.frenchCard {
  text-align: center;
  background-color: #F5F0F6;
}

.frenchCard button {
  font-family: "Comfortaa", sans-serif;
  margin: 1%;
}

/* Styling to allow textarea boxes to fill col */ 
.boxStyleFrench {
  padding-right:3.1%; 
}

.boxStyleEnglish {
   padding-left:3.1%;
} 

@media only screen and (min-width: 570px) {
  .boxStyleFrench {
    padding-right:0;
}

.boxStyleEnglish {
    padding-left: 0;
}
}

/* English word card */
.englishCard {
  text-align: center;
  background-color: #F5F0F6;
}

.englishCard button {
  font-family: "Comfortaa", sans-serif;
  margin: 1%;
}

/* textarea styling */
#englishText {
  resize: none; /* Prevent user resizing textareas */ 
}

#frenchText {
  resize: none;
}

/* English answer box */
.englishBox {
  font-family: "Comfortaa", sans-serif;
  text-align: center;
  background-color:  #F5F0F6;
  padding: 0;
}

/* French answer box */
.frenchBox {
  font-family: "Comfortaa", sans-serif;
  text-align: center;
  background-color:  #F5F0F6;
  padding:0;
}

/*Modal styling */
.modalStyling {
  font-family: "Comfortaa", sans-serif;
}

/*Modal background */
.modalBodyBgColor {
  background-color: #fff;
}

/* Welcome image */
#welcomeImage {
  width: 100%;
  height: 100%;
  pointer-events: none; 
}

/*Image for Game complet / Time out */
#gameCompleteImage {
  width: 100%;
  height: 50%;
  pointer-events: none;
}

/* Image for time up */
#countdownPastImage{
  width: 100%;
  height: 50%;
  pointer-events: none;
}

/* Class to fade out button on successful word match. */
    .removeButton {
            /*  */
            -webkit-animation-duration: 10s;animation-duration: 5s;
            -webkit-animation-fill-mode: both;animation-fill-mode: both;
        }
         
         @-webkit-keyframes fadeOut {
            0% {opacity: 1;}
            100% {opacity: 0;}
         }
         
         @keyframes fadeOut {
            0% {opacity: 1;background-color: #33cc33
;}
            100% {opacity: 0; visibility: hidden;}
         }
         
         .fadeOut {
            -webkit-animation-name: fadeOut;
            animation-name: fadeOut;
            overflow:hidden;

         }
.footerStyling {
    font-family: "Comfortaa", sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    color:#fff;
    padding: 0.5%
}

/* Validation for blank text field on 'welcome' modal */ 
#enterNameVal {
    color:red;
    padding:2%;
    font-weight:bold;
}

/* Nav styling */ 
.navStyling {
    text-align: center;
    color:#fff;
    padding:0.2%;
}