/* Google fonts */
/* @import url("https://fonts.googleapis.com/css2?family=Lora&display=swap"); */

/* @import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Dosis&display=swap");

* {
  margin: 0;
}

body {
  background-color: rgb(211, 235, 239);
}

.englishBox {
  padding-left: 0;
}

.frenchBox {
  padding-right: 0;
}

/* Navbar styling */
.navStyling {
  font-family: "Comfortaa", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: rgb(7, 47, 111);
}

/* French word card */
.frenchCard {
  text-align: center;
}

.frenchCard button {
  font-family: "Comfortaa", sans-serif;
  margin: 1%;
}

/* English word card */
.englishCard {
  text-align: center;
}

.englishCard button {
  font-family: "Comfortaa", sans-serif;
  margin: 1%;
}

/* English answer box */
.englishBox {
  font-family: "Comfortaa", sans-serif;
  text-align: center;
}

/* French answer box */
.frenchBox {
  font-family: "Comfortaa", sans-serif;
  text-align: center;
}

/*Modal styling */
.modalStyling {
  font-family: "Comfortaa", sans-serif;
}

/*Modal background */
.modalBodyBgColor {
  background-color: #fff;
}

/* Welcome image */
#welcomeImage {
  width: 100%;
  height: 100%;
}

/*Image for Game over / Time out */
#gameCompleteImage {
  width: 50%;
  height: 50%;
}

/* FOOTER */
.main-footer {
  background-color: rgb(7, 47, 111);
}

/* Class to remove buttons on successful word match. */
.removeTest {
  display: none;
}

.removeCounter {
  display: none;
}
